@import url('https://fonts.googleapis.com/css?family=Barlow|Noto+Serif&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

.header {
    background-color: floralwhite;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 32px;
    padding-top: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 20px;
    text-align: center;
}

.username {
    font-family: 'Noto Serif', serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
}

.person_image {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    margin-left: 10px;
}

.nav a {
    background-color: gold;
    padding: 5px 10px 5px 10px;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    background-clip: padding-box;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin: 0;
    float: right;
}

/*
.nav a:last-child {
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 2px;
}
*/

.nav a:hover {
    background-color: black;
    color: gold;
}