@import url('https://fonts.googleapis.com/css?family=Barlow|Noto+Serif&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}

.header {
    background-color: floralwhite;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 32px;
    padding-top: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
}

.person_image {
    width: 100px;
}

.nav a {
    background-color: blue;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: lightgray;
}